<div class="restaurant">
    <div class="flex">
    <h3 class="h2">Chimborazo</h3>
    <a href="https://goo.gl/maps/xg6N9HTEk3F2" target="_blank" class="svg-map"><img src="imgs/map.svg" alt="map icon"  height="20px"></a>
  </div>
  <span class="blush cutive uppercase">2851 Central Ave NE, Minneapolis, MN 55418</span>
  <p>Stellar Ecuadorian fare in Northeast Minneapolis. The best friend plaintains in town, in a quaint, warm environment. Staff is fun and down-to-earth, making the experience memorable every time!</p>
</div>
