// Force border-box
html {
  box-sizing: border-box;
  color: $font-color;
  font: $font-style $font-variant $font-weight #{$font-size}/#{$line-height} $font-family;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body {
  margin-top: 2px;
}
::selection {
  background-color: rgb(18, 103, 155);
  color: #fefefe;
}

.site {
  margin: 0 auto;
}

/*--------------------------------------------------------------
Minnesota Styles
--------------------------------------------------------------*/
.minnesota img {
  display: block;
  height: 100%;
  margin: 0 auto;
}

/*--------------------------------------------------------------
If no grid support, limit width to 50em and center align
--------------------------------------------------------------*/
@supports not (display: grid) {
  .minnesota,
  .page-title,
  .main-content,
  .footer {
  		max-width: 50em;
  		margin: 0 auto;
  	}
}

/*--------------------------------------------------------------
CSS Grid layout for wider screens, when browser supports grid:
--------------------------------------------------------------*/

@supports (display: grid) {
  @media screen and (min-width: 800px) {

  	.site {
			display: grid;
			grid-template-columns: 1fr 1fr;
      grid-template-rows: 400px auto 1fr;
      grid-template-areas:
        "minnesota title"
        "main main"
        "footer footer";
		}

    .minnesota {
      grid-area: minnesota;
    }

    .page-title {
      grid-area: title;
    }

    .main-content {
      grid-area: main;
    }

    .footer {
      grid-area: footer;
    }

  }
}
