// Typography

$font-style: normal;
$font-variant: normal;
$font-weight: normal;
$font-color: hsl(0,0%,10%);
$font-size: 1rem;
$line-height: 1.5;
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$cutive: 'Cutive Mono', monospace;

// Colors
$blush: rgb(237, 139, 142);
$light-blush: rgb(255, 245, 245);
$dark-green: rgb(19, 119, 82);
$light-blue: rgb(205, 236, 255);
$light-gray: hsl(0,0%,90%);
$banana: rgb(244, 229, 154);
