// Typography

$font-style: normal;
$font-variant: normal;
$font-weight: normal;
$font-color: hsl(0,0%,10%);
$font-size: 1rem;
$line-height: 1.5;
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// Colors
$blush: rgb(237, 139, 142);
